/* header */
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: red;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: Century Gothic;
  &:hover{
    color: red;
    text-decoration: none;
  }
}


  .alert{
    background-color: red;
    color: white;
    text-align: center;
  }
  
  .notice {
    background-color: blue;
    color: white;
    text-align: center;
  }



/* Static Page */

body { 
  padding-top: 50px; 
}

h1, h2 {
  font-weight: bold;
  font-family: Century Gothic;
}

.text-red {
  color: #F00;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #fff;
  }
}

.top-hero-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('ramenjiro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.top-hero-container {
  padding-top: 220px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
    color: red;
  }

  h2 {
    margin-bottom: 60px;
    color: red;
  }
  
}

#user_image{
  text-align: center;
}

/* user */

.users-new-wrapper{
  width: 100vw;
  height: 100vh;
  background-image: image-url('ramenjiro.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  
  .users-new-container{
    padding-top: 220px;
    
    .form-group{
      margin-bottom: 20px;
    }
  }
}

.user-show-wrapper{
  background-color: white;
  
  .col-md-3{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
  }
  
  .icon_image {
  width: 80px;
  height: 80px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

  h1{
    display: inline-block;
  }
  
  h3{
    border: 1px solid;
  }
  
}

/* post */
.btn-black {
  color: black;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0,0,0,0.0);

  &:hover {
    color: #565656;
  }
}

.topic-new-wrapper {
  padding-top: 120px;
}

.field-image {
  display: inline-block;
}

.white{
  color: white;
}

.post-index-wrapper {
  padding-top: 70px;
  
  .post-index-single {
    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    
    .icon_image {
      width: 80px;
      height: 80px;
      //サイズ指定
      border-radius: 100px;
      //画像を丸くする
      object-fit: cover;
      //タテヨコ比を変えないままトリミング
      }
    
    h2{
      display: inline-block;
    }
    
    .post-author {
      padding-right: 20px;
      padding-left: 20px;
      color: red;
    }

    .post-text {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 20px;
      
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .post-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.buttons_{
    background: linear-gradient(to right, #feb400, #FFE300);
    line-height: 42px;
    color: #6d3701;
    font-size: 14px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 100px;
    font-weight: bold;
}

/* groups */

.group-index-wrapper{
  
  .group-new-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  }
  
  .group-index-single{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  }
}

.group-show-wrapper{
  .grouppost_btn{
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  }
  
  .grouppost_index{
    border: 1px solid #e6ecf0;
    border-radius: 3px;
  }
  
  .grouppost_user_name{
    float: left;
  }
}

/* grouppost */
.grouppost-wrapper{
  margin-top: 50px;
}
